<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Partner Management</h1>
</div>
<div>
  <div>
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>Organization Name</th>
          <th>Partner Location</th>
          <th>Range (Km)</th>
          <th style="width: 10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pd of service.list">
          <td>{{pd.organization}}</td>
          <td>{{pd.locations}}</td>
          <td>{{pd.ranges}}</td>
          <td>
            <button (click)="populateForm(pd)" class="btn btn-sm btn-primary">View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>